.mini-calender {
    .dates {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        button {
            border: 2px solid #f7f7f7;
            cursor: pointer;
            background: transparent;
            outline: none;
            border-radius: 7px;
            padding: 3px;
            min-width: 33px;
            &:hover {
                background: black;
            }
        }
        .selected {
            background: var(--primary);
            border: none;
            color: #fff;
        }
    }
}
